@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.navegador {
  padding: 15px;
  background-color: rgb(231, 112, 112);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navegador ul {
  list-style-type: none;
  display: flex;
}
.navegador ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px;
  font-size: 30px;
}
.navegador .fa-bars {
  display: none;
}
.navegador .fa-solid {
  font-size: 40px;
  padding: 0px;
  margin: 0;
}

.underline-hover::after {
  content: "";
  height: 4px;
  width: 0;
  margin: auto;
  background-color: white;
  display: block;
  transition: all 350ms;
}
@media (max-width: 500px) {
  .underline-hover::after {
    background-color: blue;
  }
}

.underline-hover:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navegador .fa-bars {
    display: block;
    margin: 10px;
    font-size: 40px;
    color: black;
  }
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
  .navegador ul {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    padding-top: 45px;
  }
  .navegador ul:hover {
    left: 0;
  }
  .navegador ul li a {
    color: black;
  }
}
.titulo {
  background-image: url(../multimedia/img/fondo.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  display: grid;
}
.titulo h1 {
  font-size: 60px;
  text-align: center;
  color: rgb(233, 233, 235);
  text-decoration: underline;
}
.titulo h2 {
  font-size: 30px;
  text-align: center;
  color: white;
}

.imagen-pagina {
  width: 250px;
  object-fit: cover;
  padding: 0px 20px;
}

@media (max-width: 489px) {
  .titulo h1 {
    font-size: 42px;
  }
}
.maps {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.pie-de-pagina {
  padding: 15px;
  background-color: rgb(231, 112, 112);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.pie-de-pagina .form-consulta {
  border: 2px solid blue;
  padding: 20px;
  border-radius: 4px;
  width: 350px;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.pie-de-pagina .form-consulta input {
  margin: 4px;
  padding: 3px;
  width: 230px;
  border: 1px solid blue;
  border-radius: 5px;
  align-items: center;
}
.pie-de-pagina .info-nosotros {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pie-de-pagina .redes {
  align-items: center;
  text-align: center;
}

.titulo-redes {
  font-size: 20px;
}

.logo-redes {
  font-size: 40px;
}

.logo-redes i {
  color: black;
}

@media (max-width: 768px) {
  .pie-de-pagina {
    grid-template-columns: 1fr 1fr;
  }
  .pie-de-pagina .redes {
    grid-column: 1/3;
  }
}
@media (max-width: 576px) {
  .pie-de-pagina {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .pie-de-pagina .redes {
    grid-column: auto;
  }
}
.titulo-producto {
  font-size: 50px;
  display: grid;
  text-align: center;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 489px) {
  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.etiqueta-productos {
  width: 280px;
  height: auto;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  border-color: blue;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  align-items: center;
}

.imagen-tarjeta {
  width: 150px;
}
.imagen-tarjeta:hover {
  width: 200px;
  transition: 2s;
}

.boton {
  background-color: blue;
  border-radius: 5px;
  color: aliceblue;
  width: 200px;
  font-size: 15px;
}

.enlace-productos {
  background-color: #e01010;
  font-size: 22px;
  width: 280px;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  place-items: center;
  margin: 20px auto;
  text-decoration: none;
}
.enlace-productos:hover {
  background-color: rgb(243, 112, 89);
  transition: 1s;
}

.whatsapp {
  position: fixed;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: green;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 35px;
  right: 35px;
}
.whatsapp i {
  font-size: 50px;
  color: #fff;
}
.whatsapp:hover {
  background-color: black;
  transition: 0.5s;
}

.titulo-nosotros {
  font-size: 50px;
  display: grid;
  text-align: center;
  text-decoration: underline;
  color: rgb(231, 112, 112);
  padding: 20px;
  margin: 20px;
}

.tarjeta-nosotros {
  margin: 15px;
  padding: 15px;
  border: 2px solid blue;
  border-radius: 5px;
}
.tarjeta-nosotros .descripcion-nosotros {
  font-size: 23px;
}

.contacto-nosotros {
  font-size: 20px;
  width: 300px;
  padding: 15px;
  display: grid;
  place-items: center;
  margin: 20px auto;
  border: 3px solid red;
  border-radius: 10px;
}
.contacto-nosotros h2 {
  text-decoration: underline;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Globals */
a {
  text-decoration: none;
}

.contenedor .producto-radiador {
  position: relative;
  border: solid black 1px;
}

.contenedor .producto-radiador .producto-img {
  width: 300px;
}

.contenedor .producto-radiador .nombre {
  padding: 10px;
  display: flex;
  background-color: #d64848;
  justify-content: center;
}

.contenedor .producto-radiador .contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor .producto-radiador .contenido .contenido-texto {
  padding: 15px 0;
  width: 200px;
  font-size: 1.5em;
}

.contenedor .producto-radiador .contenido .contenido-boton {
  margin-bottom: 20px;
  padding: 10px;
  border: solid black 2px;
}

.contenedor .producto-radiador .contenido .contenido-boton:hover {
  background-color: black;
  color: white;
  transition: ease-in-out 0.3s;
}

.tabla-body .boton-eliminar-producto {
  top: 89%;
  left: 50%;
  padding: 10px 10px;
  font-size: 1em;
}

/*# sourceMappingURL=styles.css.map */
