.whatsapp{
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: green;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 35px;
    right: 35px;
    i{
        font-size: 50px;
        color: #fff ;
    }
    &:hover{
        background-color: black;
        transition: 0.5s;
    }
}

