.titulo-nosotros{
    font-size: 50px;
    display: grid;
    text-align: center;
    text-decoration: underline;
    color: $bg-color;
    padding: 20px;
    margin: 20px;
}

.tarjeta-nosotros{
    margin: 15px;
    padding: 15px;
    border: 2px solid blue;
    border-radius: 5px;
    .descripcion-nosotros{
        font-size: 23px;
    }

}

.contacto-nosotros{
    font-size: 20px;
    width: 300px;
    padding: 15px;
    display: grid;
    place-items: center;
    margin: 20px auto;
    border: 3px solid red;
    border-radius: 10px;
    h2{
        text-decoration: underline;
    }
}

