.titulo-producto{
    font-size: 50px;
    display: grid;
    text-align: center;
    overflow: hidden;

}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media(max-width:489px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.etiqueta-productos{
    width: 280px;
    height: auto;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    border-color: blue;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.etiqueta-productos h2{
    font-size: 30px;
}

.imagen-tarjeta{
    width: 150px;
    &:hover{
        width: 200px;
        transition: 2s;
    }
}
.boton{
    background-color: blue;
    border-radius: 5px;
    color: aliceblue;
    width: 200px;
    font-size: 15px;

}

.enlace-productos{
    background-color: #e01010;
    font-size: 22px;
    color: aliceblue;
    width: 280px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    place-items: center;
    margin: 20px auto;
    text-decoration: none;
    &:hover{
        background-color: rgb(243, 112, 89);
        transition: 1s;
    }
}
